{% extends 'admin-base.html' %}

{% block title %}Admin - Error{% endblock %}

{% block content %}


        <div class="header">
        <div class="flex-box max-width margin-center margin-side">
            <div class="flex-2 flex-center logo-bar">
                <a href="{{ url_for('admin') }}"><img class="logo" alt="DO GRANTCOUNTY" src="/static/img/logo-purple.svg"> <div class="label">Admin</div></a>
            </div>
            <div class="flex-5 flex-center menu-bar desktop">
                <div class="menu"><a href="{{ url_for('admin_events') }}">Events</a></div>
                <div class="menu"><a href="{{ url_for('admin_categories') }}">Categories</a></div>
                <div class="menu"><a href="{{ url_for('admin_questions') }}">Questions</a></div>
                <div class="menu"><a href="{{ url_for('admin_settings') }}">Settings</a></div>
                <div class="menu"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a></div>
            </div>
            <div class="flex flex-center menu-bar mobile">
                <div class="menu-button" onclick="menu()"><i class="fas fa-bars"></i></div>
            </div>
        </div>
    </div>

    <div id="menu-bar-mobile" class="mobile">
        <div class="menu-mobile"><a href="{{ url_for('admin_events') }}"><i class="far fa-calendar-alt"></i> Events</a></div>
        <div class="menu-mobile"><a href="{{ url_for('admin_categories') }}"><i class="fas fa-th-large"></i> Categories</a></div>
        <div class="menu-mobile"><a href="{{ url_for('admin_questions') }}"><i class="far fa-question-circle"></i> Questions</a></div>
        <div class="menu-mobile"><a href="{{ url_for('admin_settings') }}"><i class="fas fa-cog"></i> Settings</a></div>
        <div class="padding"></div>
        <div class="menu-mobile"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Sign Out</a></div>
    </div>

    <div class="page max-width margin-center">

        <h1><div>Error</div></h1>
        <div class="error-message">{{ message }}</div>
    </div>


<script>

</script>

{% endblock %}