{% extends 'base.html' %}

{% block title %}Contact - Do! Grant County{% endblock %}

{% block content %}

    <div class="header">
        <div class="flex-box max-width margin-center margin-side">
            <div class="flex flex-center logo-bar">
                <a href="{{ url_for('index') }}"><img class="logo" alt="DO GRANTCOUNTY" src="/static/img/logo-white.svg"></a>
            </div>
            <div class="flex flex-center menu-bar desktop">
                <div class="menu"><a href="{{ url_for('events') }}">Events</a></div>
                <div class="menu"><a href="{{ url_for('about') }}">About</a></div>
                <div class="menu"><a href="{{ url_for('faq') }}">FAQ</a></div>
                <div class="menu now"><a href="{{ url_for('contact') }}">Contact</a></div>
            </div>
            <div class="flex flex-center menu-bar mobile">
                <div class="menu-button" onclick="menu()"><i class="fas fa-bars"></i></div>
            </div>
        </div>
    </div>

    <div id="menu-bar-mobile" class="mobile">
        <a href="{{ url_for('events') }}"><div class="menu-mobile"><i class="far fa-calendar-alt"></i> Events</div></a>
        <a href="{{ url_for('about') }}"><div class="menu-mobile"><i class="fas fa-info-circle"></i> About</div></a>
        <a href="{{ url_for('faq') }}"><div class="menu-mobile"><i class="far fa-question-circle"></i> FAQ</div></a>
        <a href="{{ url_for('contact') }}"><div class="menu-mobile now"><i class="fas fa-envelope"></i> Contact</div></a>
    </div>


    <div class="background desktop">
        <div class="max-width margin-center"></div>
    </div>

    <div class="page max-width margin-center">

        <div class="contact">
            <h2>{{ setting.contact_title }}</h2>
            <div class="information flex-box-700 margin-center">
                <div class="email"><a href="mailto:{{ setting.contact_email }}"><i class="far fa-envelope"></i> {{ setting.contact_email }}</a></div>
                <div class="phone"><a href="tel:{{ setting.contact_phone }}"><i class="fas fa-phone"></i> {{ setting.contact_phone }}</a></div>
            </div>

            {% if setting.contact_content != '' %}
            <p>{{ setting.contact_content }}</p>
            {% endif %}

        </div>

    </div>

<script>

</script>

{% endblock %}