{% extends 'base.html' %}

{% block title %}Events - Do! Grant County{% endblock %}

{% block content %}


    <div class="header">
        <div class="flex-box max-width margin-center margin-side">
            <div class="flex flex-center logo-bar">
                <a href="{{ url_for('index') }}"><img class="logo" alt="DO GRANTCOUNTY" src="/static/img/logo-white.svg"></a>
            </div>
            <div class="flex flex-center menu-bar desktop">
                <div class="menu now"><a href="{{ url_for('events') }}">Events</a></div>
                <div class="menu"><a href="{{ url_for('about') }}">About</a></div>
                <div class="menu"><a href="{{ url_for('faq') }}">FAQ</a></div>
                <div class="menu"><a href="{{ url_for('contact') }}">Contact</a></div>
            </div>
            <div class="flex flex-center menu-bar mobile">
                <div class="menu-button" onclick="menu()"><i class="fas fa-bars"></i></div>
            </div>
        </div>
        <div class="event-bar">
            <div class="flex-box max-width margin-center margin-side">
                <div class="flex-4 flex-center text-left">
                    <form method="POST" class="form-inline">
                        {{ search.csrf_token }}
                        Search <span class="desktop">result for</span> &nbsp;
                        {{ search.keyword(placeholder="Keyword...", class="search") }}
                        {{ search.search_submit(class="hidden") }}
                    </form>
                </div>
                <div class="flex-2 flex-center text-right">
                    <a href="{{ url_for('events') }}"><button class="button-control right" id="event-list"><i class="fas fa-list-ul"></i></button></a>
                    <a href="{{ url_for('new') }}"><button class="button-control right desktop" id="event-add"><i class="fas fa-plus"></i>&nbsp; <span>Add Event</span></button><button class="button-control right mobile" id="event-search-add"><i class="fas fa-plus"></i></button></a>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-bar-mobile" class="mobile">
        <div class="menu-mobile now"><a href="{{ url_for('events') }}"><i class="far fa-calendar-alt"></i> Events</a></div>
        <div class="menu-mobile"><a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About</a></div>
        <div class="menu-mobile"><a href="{{ url_for('faq') }}"><i class="far fa-question-circle"></i> FAQ</a></div>
        <div class="menu-mobile"><a href="{{ url_for('contact') }}"><i class="fas fa-envelope"></i> Contact</a></div>
    </div>

    <div class="background desktop">
        <div class="max-width margin-center"></div>
    </div>

    <div class="page max-width margin-center has-event-bar">

        <div class="events">
            {% for num in nums %}
            <section>
                {% for e in events[num] %}
                <div class="event" id="event-{{ e.id }}">
                    <div class="flex-box cursor-pointer" onclick="toggle_event('{{ e.id }}')">
                        <div class="flex-3 flex-center text-left">
                            <div class="title">{{ e.title }}</div>
                            <div class="organization">{{ e.organization }}</div>
                        </div>
                        <div class="flex flex-center text-right desktop">
                            <div class="time">{{ e.start_time }} - {{ e.end_time }}</div>
                        </div>
                    </div>
                    <div class="details flex-box-mobile" id="details-{{ e.id }}">
                        <div class="flex-5 text-left padding">
                            {% if e.photo != '' %}
                                <div class="photo"><img alt="" src="/static/event-pics/{{ e.photo }}"></div>
                            {% endif %}
                            {% if e.cost != '0' and e.cost != '' %}
                                <div class="cost">{{ e.cost }}</div>
                            {% endif %}
                            <div class="description">{{ e.description }}</div>
                        </div>
                        <div class="flex-3 text-left padding">
                            <div class="location"><i class="fas fa-map-marker-alt"></i> <a class="link" target="_blank" href="https://maps.google.com/?q={{ e.location }}">{{ e.location }}</a></div>
                            {% if e.start_date == e.end_date %}
                                <div class="date"><i class="far fa-calendar"></i> {{ e.start_date }}</div>
                            {% else %}
                                <div class="date"><i class="far fa-calendar"></i> {{ e.start_date }} - {{ e.end_date }}</div>
                            {% endif %}
                            <div class="time mobile"><i class="far fa-clock"></i> {{ e.start_time }} - {{ e.end_time }}</div>
                            {% if e.contact_phone != "" %}
                                <div class="phone"><i class="fas fa-phone"></i> <a class="link" target="_blank" href="tel:{{ e.contact_phone }}">{{ e.contact_phone }}</a></div>
                            {% endif %}

                            <div class="social-media">
                            {% if e.url != "" %}
                                <a href="{{ e.url }}" target="_blank"><div class="website"><i class="fas fa-globe"></i></div></a>
                            {% endif %}
                            <a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ e.title }}&sf=true&output=xml382"><div class="add"><i class="far fa-calendar-plus"></i></div></a>
                            {% if e.url != "" %}
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ e.url }}&t={{ e.title }}" target="_blank"><div class="facebook"><i class="fab fa-facebook-f"></i></div></a>
                                <a href="https://twitter.com/intent/tweet?text={{ e.title }}%0A{{ e.start_date }} - {{ e.end_date }}%0A{{ e.start_time }} - {{ e.end_time }}%0A{{ e.url }}%0A%0AVisit www.dograntcounty.com for more information!" target="_blank"><div class="twitter"><i class="fab fa-twitter"></i></div></a>
                                <a href="https://plus.google.com/share?url={{ e.url }}" target="_blank"><div class="google"><i class="fab fa-google-plus-g"></i></div></a>
                            {% else %}
                                <a href="https://twitter.com/intent/tweet?text={{ e.title }}%0A{{ e.start_date }} - {{ e.end_date }}%0A{{ e.start_time }} - {{ e.end_time }}%0A%0AVisit www.dograntcounty.com for more information!" target="_blank"><div class="twitter"><i class="fab fa-twitter"></i></div></a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% else %}
            <div class="information">There is no event in this time period.<br>Feel free to <a href="{{ url_for('new') }}" class="link">add new events!</a></div>
            {% endfor %}
            <div class="copyright">&copy; Do! Grant County </div>
        </div>


    </div>


<script>

function toggle_event(e) {
    console.log(document.getElementById('details-'+e).style.height);

    if (document.getElementById('details-'+e).style.height == 'auto') {
        document.getElementById('details-'+e).style.height = '0';
        document.getElementById('event-'+e).style.background = 'none';
    } else {
        var details = document.getElementsByClassName('details');
        var events = document.getElementsByClassName('event');

        for (var i = 0; i < details.length; i++) {
            details[i].style.height = '0';
            events[i].style.background = 'none';
        }
        document.getElementById('details-'+e).style.height = 'auto';
        document.getElementById('event-'+e).style.background = '#f6f6f6';
    }
}
</script>

{% endblock %}